[Desktop Entry]
Encoding=UTF-8
Name=multisyncgui
Comment=Synchronization program for personal information such as calendars, addressbooks etc.
Comment[de]=Synchronisation von Organizern, PIMs und Mobiltelefonen
Exec=@PREFIX@/bin/multisync-gui
Terminal=false
Type=Application
Icon=@MULTISYNC_ICON_DIR@/multisync.png
StartupWMClass=multisync
X-Desktop-File-Install-Version=0.3
Categories=Application;Utility;X-Red-Hat-Base;
